<h1> Update Animal</h1>
{{ form_start(form) }}
Race:* {{ form_widget (form.race) }} <br>
Season:* {{ form_widget (form.saison) }} <br>
Place:* {{ form_widget (form.place) }} <br>
Image:* {{ form_widget (form.image) }} <br>
<input type="submit" value="Update"/>
{{ form_end(form) }}