<h1> Update Season</h1>
{{ form_start(form) }}
Name:* {{ form_widget (form.nom) }} <br>
Start:* {{ form_widget (form.start) }} <br>
Finish:* {{ form_widget (form.finish) }} <br>
Description:* {{ form_widget (form.description) }} <br>
<input type="submit" value="Update"/>
{{ form_end(form) }}